<ng-container *ngIf="(chatState$ | async).activeChat">
  <div class="card mb-2" #messageElements id="message" *ngFor="let message of (chatState$ | async).activeChat.messages">
    <div class="card-body">
      <p class="card-title mb-0">
        <b>{{(chatState$ | async).settings.showIds ? '(' + message.user.id + ') ' : ''}}{{(chatState$ | async).settings.showNickname ? message.user.username.toLowerCase() : message.user.name}}</b>
        <span *ngIf="(chatState$ | async).settings.showTimestamps" class="text-muted card-date"> wrote on <i>{{formatDate(message.timestamps) }}</i></span>
      </p>
      <p class="card-text">{{message.body}}</p>
    </div>
  </div>
</ng-container>
