<form *ngIf="settings" name="form" class="p-4 needs-validation" #f="ngForm" novalidate>
  <div class="form-row">
    <div class="col">
      <div class="text-uppercase"><b>Settings</b></div>
      <div>
        <small class="text-muted">Adjust your chat preferences.</small>
      </div>
    </div>
  </div>
  <hr />
  <div class="form-row">
    <div class="col">
      <label for="fontSizeSlider">
        <small><b>Chat Font Size:</b>&nbsp;<span class="text-warning">{{settings.fontSize + ' pixels'}}</span></small>
      </label>
      <input
        class="form-control-range"
        name="fontSizeSlider"
        #fontSizeSlider="ngModel"
        type="range"
        [step]="0.5"
        [min]="12"
        [max]="20"
        [value]="settings.fontSize"
        id="fontSizeSlider"
        [(ngModel)]="settings.fontSize"
        (ngModelChange)="onChangeSetting(SETTINGS_PROPERTIES.FontSize)"
      />
    </div>
  </div>
  <div class="form-row mt-3">
    <div class="col">
      <label>
        <small><b>Name Settings</b></small>
      </label>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          name="showNicknameSlider"
          id="showNicknameSlider"
          #showNicknameSlider="ngModel"
          [(ngModel)]="settings.showNickname"
          (ngModelChange)="onChangeSetting(SETTINGS_PROPERTIES.ShowNickname)">
        <label class="form-check-label" for="showNicknameSlider">
          <small>Show user nicknames instead of their full name</small>
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          name="showIdsSlider"
          id="showIdsSlider"
          #showIdsSlider="ngModel"
          [(ngModel)]="settings.showIds"
          (ngModelChange)="onChangeSetting(SETTINGS_PROPERTIES.ShowIds)">
        <label class="form-check-label" for="showIdsSlider">
          <small>Show user IDs next to their name</small>
        </label>
      </div>
    </div>
  </div>
  <div class="form-row mt-3">
    <div class="col">
      <label>
        <small><b>Timestamps Visibility</b></small>
      </label>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="showTimestamps"
          [value]="true"
          id="showTimestamps"
          #showTimestamps="ngModel"
          [(ngModel)]="settings.showTimestamps"
          (ngModelChange)="onChangeSetting(SETTINGS_PROPERTIES.ShowTimestamps)"
          [checked]="settings.showTimestamps">
        <label class="form-check-label" for="showTimestamps">
          <small>Show</small>
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="showTimestamps"
          id="hideTimestamps"
          #hideTimestamps="ngModel"
          [(ngModel)]="settings.showTimestamps"
          (ngModelChange)="onChangeSetting(SETTINGS_PROPERTIES.ShowTimestamps)"
          [value]="false"
          [checked]="!settings.showTimestamps">
        <label class="form-check-label" for="hideTimestamps">
          <small>Hide</small>
        </label>
      </div>
    </div>
  </div>
</form>
