<div class="card text-center" *ngIf="(chatState$ | async) && (chatState$ | async).activeChat">
  <div class="card-header">
    <chat-room-header></chat-room-header>
  </div>
  <div id="chatroom-body" class="card-body d-flex">
    <div class="row flex-grow-1">
      <chat-sidebar></chat-sidebar>
      <chat-room-messages-list></chat-room-messages-list>
    </div>
  </div>
  <div class="card-footer text-muted">
    <div class="row">
      <chat-settings-button></chat-settings-button>
      <chat-new-message></chat-new-message>
    </div>
  </div>
</div>
