@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';

:host {
  ::ng-deep {

    .accordion > .card {
      overflow: visible !important;
    }
    .card-body,
    .card-footer,
    .card-header {
      text-align: left;

      #users-list {
       border-right: $border-width solid $border-color;

        .card-header {
          padding-top: .25rem;
          padding-bottom: .25rem;

          button.btn {
            text-align: left;
          }
        }
      }
    }
  }
}
