<div class="card text-center">
  <div class="card-header">
    Chat Rooms
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-2 mb-2" *ngFor="let room of (chatState$ | async).chatRooms" [id]="room.id">
        <div class="card h-100">
          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">{{room.title}}</h5>
            <p class="card-text">{{room.body}}</p>
            <div class="d-flex justify-content-between">
              <div>
                <button type="button" class="btn btn-sm btn-dark" [routerLink]="['', room.id]">
                  Join Room
                </button>
              </div>
              <div placement="bottom" ngbTooltip="Online Users">
                <fa-icon [icon]="['fas', 'user']"></fa-icon>&nbsp;{{room.users.length}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    100 People Active in 5 Chat Rooms
  </div>
</div>
