<div class="card text-center">
  <div class="card-header">
    <!--
   there is no need to refactor this into a component
   because at the moment it is not used anywhere else
 -->
    <b>Chat Rooms</b>
  </div>
  <div id="rooms-list" class="card-body">
    <div class="row">
      <div class="col-2 col-sm-6 col-md-4 col-lg-3 mb-2" *ngFor="let room of (chatState$ | async).chatRooms" [id]="room.id">
        <chat-room-card [room]="room"></chat-room-card>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <!--
      there is no need to refactor this into a component
      because at the moment it is not used anywhere else
    -->
    {{(chatState$ | async).totalUsers}} users active in {{(chatState$ | async).chatRooms.length}} chat rooms.
  </div>
</div>
